/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

* {
  font-family: monospace;
}

#window {
  background-color: #7C818C;
}

#outer-box {
  background-color: #383C4A;
  margin: 5px;
  padding:20px;
}

#inner-box {
  background-color: #383C4A;
}

#input {
  background-color: #383C4A;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 0px;
  color: white;
  margin: 5px;
}

#text {
  color: white;
  padding: 5px;
}

#entry:nth-child(even) {
  background-color: #404552;
}

#entry:selected {
  background-color: #5291e2;
}
